
.icon-mail:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-bitbucket:before { content: '\f171'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */